.subtitle-width {
    max-width: 640px;
    margin: 0 auto 72px auto;
}

@media screen and (max-width: 768px) {
    .subtitle-width {
        margin: 0 auto 56px auto;}}

@media screen and (max-width: 376px) {
    .subtitle-width {
        max-width: 343;
        font-size: 16px;
        line-height: 23px;
        margin: 0 auto 24px auto;}}