.lead__title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    max-width: 720px;
    margin:0 0 32px 0;
}

@media screen and (max-width: 670px) {
.lead__title {
    max-width: 620px;
    font-size: 76px;
}
}

@media screen and (max-width: 574px) {
    .lead__title {
        max-width: 420px;
        font-size: 56px;
    }
}

@media screen and (max-width: 390px) {
    .lead__title {
        max-width: 300px;
        font-size: 45px;
        line-height: 50px;}
    
  }
@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;}
}